.container-fluid
{
    padding: 0;
    margin: 0;
}

.btn, input, select, label, table
{
    font-size: 14px !important;
}

.bg-white
{
    background: #fff;
}

#app
{
    width: 100vw;
    height: 100vh;
}

#sidebar, #main
{
    height: 100%;
}

#sidebar 
{
    width: 18%;
}

#main
{
    width: 82%;
}

table
{
    max-height: 70vh;
    width: 100%;
}

td, th
{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main #header
{
    min-height: 8vh;
    max-height: 8vh;
}
